<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jing-lite-server</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ObjectHub</display-name>
    <servlet-name>ObjectHub</servlet-name>
    <servlet-class>ananas.jing.lite.server.servlet.ObjectHub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObjectHub</servlet-name>
    <url-pattern>/ObjectHub</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>ananas.jing.lite.server.servlet.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObjectL</display-name>
    <servlet-name>ObjectL</servlet-name>
    <servlet-class>ananas.jing.lite.server.servlet.ObjectL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObjectL</servlet-name>
    <url-pattern>/ObjectL/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObjectS</display-name>
    <servlet-name>ObjectS</servlet-name>
    <servlet-class>ananas.jing.lite.server.servlet.ObjectS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObjectS</servlet-name>
    <url-pattern>/j/*</url-pattern>
  </servlet-mapping>
</web-app>